body {
    padding-top: 5rem;
}


.calendar-week-header, .grid-cell{
    border: 1px solid black;
    padding: 10px;
}


.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

.logoIm {
    width: auto;
    height: 40px;
}

.page-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    padding: 1%;
}

.nav-link {
    text-decoration: none;
}

.navbar-dark .navbar-brand {
    height: 40px;
    width: 150px;
}

.btn-dark {
    margin-top: 20px;
    width: 20%;
}

.loginForm .container-fluid {
    border: 1px solid black;
    width: 25%;
    height: auto;

}

.loginForm {
    width: 400px;
    height: auto;


}

.block1,
.block2,
.block3 {
    background: #212529;
    margin: 0;
    padding: 0;

    color: white;
}

.btn-circle {
    width: 100px;
    height: 100px;
    text-align: center;
    padding: 6px 0;
    font-size: 50px;
    line-height: 1.42;
    border-radius: 100px;
    background-color: #F44336;
    color: white;
}


md-content {
  background-color: #ffffff!important;
  padding: 5px;
}
.selected-item ~ .item .user,
.item:first-child .user {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.selected-item ~ .item .user.selected,
.item:first-child .user.selected {
  margin-top: 0;
}
.item:last-child .user {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
.item .tile .folded {
  cursor: pointer;
}
.item .user {
  background-color: white;
  transition: all 500ms;
}
.item .user h3,
.item .user p {
  transition: all 500ms;
}
.item .user p {
  opacity: 1;
  height: inherit;
}
.item .user p.ng-hide {
  opacity: 0;
  height: 0;
}
.item .user.selected {
  margin: 30px -15px;
  border-radius: 2px;
}
.item .user.selected .expanded {
  visibility: visible;
}
.item .user.selected .expanded,
.item .user.selected .expanded > * {
  max-height: 700px;
  opacity: 1;
}
.item .user.selected .expanded .md-label {
  border: hidden;
}
.item .user.selected h3 {
  font-size: 1.5em;
}
.item .user .expanded {
  visibility: hidden;
}
.item .user .expanded,
.item .user .expanded > * {
  max-height: 0;
  opacity: 0;
  transition: all 500ms;
}
.item .user .expanded .split {
  padding: 10px;
}
.item .user .face {
  border-radius: 30px;
  border: 1px solid #ddd;
  width: 48px;
  height: 48px;
  margin: 16px;
}


/* General sizing */
ul.dropdown-lr {
  width: 1.5em;
}

/* mobile fix */
@media (max-width: 768px) {
	.dropdown-lr h3 {
		color: #eee;
	}
	.dropdown-lr label {
		color: #eee;
	}
}







