<!--<div class="container">
    <form ng-submit="registerUser()">
        <input type="text" placeholder="username" ng-model="username">
        <input type="password" placeholder="password" ng-model="password">
        <input type="text" placeholder="CGI Code" ng-model="cgicode">
        <input type="text" placeholder="designation" ng-model="designation"><br>
        <input type="radio" name="usertype" value="User" checked> User<br>
        <input type="radio" name="usertype" value="admin"> Admin<br>
        <input type="submit" value="Submit">
        
    </form>
    -->
    
    
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="d-flex flex-column">
                    <div class="p-2">
                        <input type="text" class="form-control mr-sm-2 mb-2 mb-sm-0" placeholder="Name" ng-model="name">
                    </div>
                    
                    <div class="p-2">
                        <input type="text" class="form-control mr-sm-2 mb-2 mb-sm-0" placeholder="Username" ng-model="username">
                    </div>
                    
                    <div class="p-2">
                        <input type="password" placeholder="Password" class="form-control mr-sm-2 mb-2 mb-sm-0" ng-model="password"></textarea>
                    </div>
                    <div class="p-2">
                        <input type="text" placeholder="CGI CODE" class="form-control mr-sm-2 mb-2 mb-sm-0" ng-model="cgicode">
                    </div>
                     <div class="p-2">
                        <input type="text" placeholder="Designation" class="form-control mr-sm-2 mb-2 mb-sm-0" ng-model="designation">
                    </div>
                    <div class="p-2">
                        <input type="radio" ng-model="admin" value="true">Admin
                        <input type="radio" ng-model="admin" value="false">User
                    </div>
                    <div class="p-1">
                        <button type="button" class="btn btn-dark" ng-click="registerUser()">Register</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
</div>