<div class="container">
    <form ng-submit="registerUser()">
        <input type="text" placeholder="username" ng-model="username">
        <input type="password" placeholder="password" ng-model="password">
        <input type="text" placeholder="CGI Code" ng-model="cgicode">
        <input type="text" placeholder="designation" ng-model="designation"><br>
        <input type="radio" name="usertype" value="User" checked> User<br>
        <input type="radio" name="usertype" value="admin"> Admin<br>
        <input type="submit" value="Submit">
        
    </form>
</div>