
<div class="container">
    <div class="row">
        <div class="col-sm-9">
            <table id="eventTable" class="table table-bordered table-condensed table-striped">
                <thead>
                    <tr>
                        <th>Event Name</button>
                        </th>
                        <th>Presenter Name</th>
                        <th>Event Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in rows">
                        <td><button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">{{row.Ename}}</td>
                            <td>{{row.Pname}}</td>
                            <td>{{row.Edate}}</td>
                            
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-3">
                <!-- Highlighted Events -->
                <h2>Event Highlights</h2>
                <ul>
                    <li>Angular 4</li>
                    <li>Node Js</li>
                    <li>ElectronJS</li>
                </ul>

            </div>
        </div>
</div>


<div class="container">
    <ul>
       <li><input type="button" ng-click="gotToAddUser()" value="Add user"></li>
       <li>Add Event</li>
    </ul>
</div>

