<div class="wrapper" ng-init="getAllEvents()">
    
    <nav id="sidebar">
       
        
        <ul class="list-unstyled components">
    
    
    <li><a ng-click="gotToAddUser()">Add User</a></li>
    <li><a ng-click="gotToAddEvent()">Add Event</a></li>
    <li><a ng-click="gotToRemoveEvent()">Remove Event</a></li>
    <li><a ng-click="gotToUpdateEvent()">Update Event</a></li>
    <li><a ng-click="gotToaddpptEvent()">Add Event Presentation</a></li>
    
    
</ul>
        
    </nav>


    <!-- Adding Calendar View -->
    <div id="calendar" ui-calendar="uiConfig.calendar" ng-model="eventSources" calendar="myCalendar"></div>

</div>






