<!DOCTYPE html>
<html lang="en" ng-app="techtalk">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="">

    <title>Tech Talk</title>

    <!-- Bootstrap core CSS -->
    
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../node_modules/fullcalendar/dist/fullcalendar.css">
    <link rel="stylesheet" type="text/css" href="../../node_modules/angular-material/angular-material.css"></link>
    <script src="../../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../../node_modules/angular/angular.js"></script>
    <script src="../../node_modules/angular-route/angular-route.js"></script>
    <script src="../../node_modules/angular-animate/angular-animate.js"></script>
    <script src="../../node_modules/angular-aria/angular-aria.js"></script>
    <script src="../../node_modules/angular-material/angular-material.js"></script>
    <script src="../../node_modules/angular-messages/angular-messages.js"></script>
    <script src="../../node_modules/hammerjs/hammer.min.js"></script>
    
    <script src="../../node_modules/moment/min/moment.min.js"></script>
    <script src="../../assets/js/app.js"></script>
    <link rel="stylesheet" href="../../assets/css/styles.css">
    
    <!--calander includes -->
    <script src="../../node_modules/angular-ui-calendar/src/calendar.js"></script>
    <script src="../../node_modules/fullcalendar/dist/fullcalendar.min.js"></script>
    <script src="../../node_modules/fullcalendar/dist/gcal.js"></script>

    
    <!-- ANGULAR INCLUDES -->
    <script src="../controllers/indexController.js"></script>
    <script src="../controllers/userdashboardController.js"></script>
    <script src="../controllers/admindasboardController.js"></script>
    <script src="../controllers/adduserController.js"></script>
    <script src="../controllers/addeventController.js"></script>
    <script src="../controllers/eventdetailsController.js"></script>
    <script src="../controllers/removeeventController.js"></script>
    <script src="../controllers/updateeventController.js"></script>
    <script src="../controllers/addpptController.js"></script>
    <script src="../../node_modules/moment/moment.js"></script>
    <script src="../services/routes.js"></script>




</head>


<body ng-controller="indexController">

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#"><img class="logoIm" src="../../assets/images/logo.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="www.cygrp.com">Company Website</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Support</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="#">Contact Us</a>
                        <a class="dropdown-item" href="#">About</a>
                        <a class="dropdown-item" href="#">Bug Report</a>
                    </div>
                </li>
            </ul>



        </div>
    </nav>
    
    <div ng-view=""></div>

    


    <footer class="page-footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    CyberGroup India
                </div>

            </div>
        </div>

    </footer>

    
    
    
    
    
    

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../assets/css/simple-sidebar.css">

    


</body>

</html>