<div class="container">
        <div class="row" ng-init="getAllEvents()">
            <div class="col-sm-12">
                <table id="eventTable" class="table table-bordered table-condensed table-striped table-sm">
                    <thead>
                        <tr>
                            <th>Event Name</th>
                            <th>Presenter Name</th>
                            <th>Event Date</th>
                            <th>"ID for Debug"</th>
                            <th>Update Event</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="row in rows">
                            <td><input type="text" placeholder="{{row.ename}}" ng-model="jqEname"></td>
                            <td>
                            <select  ng-model="selectedUserID" name="presenter">
                                <option value="{{row.userid}}" ng-repeat="row in rows">{{row.userid}}</option>
                            </select>
                            </td>
                            <td><input type="text" placeholder="{{row.edate}}"
                            ng-model="jqEdate"></td>
                            <td>{{row.eventid}}</td>
                            
                            <td><input type="button" value="Update" class="btn btn-sm" ng-click="updateEvent(row.eventid)"></td>

                        </tr>
                    </tbody>
                </table>
            </div>
            
        </div>
</div>