<div class="container" ng-init="getAllEvents()">

  <!-- Adding Calendar View -->
  <div class="row">
    <div class="col-md-9">
      <div id="calendar" ui-calendar="uiConfig.calendar" ng-model="eventSources" calendar="myCalendar"></div>
    </div>

    <div class="col-md-3">

           <!--<div  ng-show="SelectedEvent"  class="alert alert-success" style="margin-top:50px">
              
               <h3>{{SelectedEvent.title}}</h3>
               <p>{{SelectedEvent.description}}</p>
               <input type="button" value="Details" class="btn btn-primary" ng-click="pageChange(SelectedEvent.evid)">
               
             </div>-->
             <md-content layout="row" flex layout-align="center" layout-fill>
              <div flex="90" class="content">
                <md-item ng-repeat="option in options" class="item"
                ng-class="{ 'selected-item': $index == selectedUserIndex}">
                <md-item-content class="user tile md-whiteframe-z1"
                ng-class="{ 'selected md-whiteframe-z2': $index == selectedUserIndex}"
                layout="column">
                <div layout="row" layout-fill ng-click="selectUserIndex($index)" class="folded">
                  
                
                  <div class="md-tile-content" layout="column" layout-align="center start">
                    <h3>{{ option.name }}</h3>

                    <!-- <p ng-hide="$index == selectedUserIndex">
                      <span>Something</span>
                    </p> -->
                  </div>
                </div>
                <md-divider layout-fill ng-show="$index == selectedUserIndex"></md-divider>
                <div layout="column" layout-fill class="expanded">
                  <span>some content</span>
                  <br/>
                  <span>some content</span>
                  <br/>
                  <span>some content</span>
                  <br/>
                  <span>some content</span>
                  <br/>
                  <span>some content</span>
                  <br/>
                  <span>some content</span>
                  <br/>
                  <span>some content</span>
                </div>
              </md-item-content>
              <md-divider class="divider-inset" ng-if="!$last"></md-divider>
            </md-item>
          </div>
        </md-content>

      </div>
    </div>





  </div>